body {
	display:flex;
	justify-content: space-around;
	padding: 40px;
}

.right-section {
	display: flex;
	flex-direction:column;
	justify-content: flex-start;
	

}


label {
	width:120px;
	margin-bottom: 10px;
	
}

input {
	width: 220px;
	margin-bottom: 10px;
	
}


.red-txt {
	color:red;
}

button {
	margin-left: 276px;
}