body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: left;
  
  }

.container {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    
  }
  
.gold-display {
    margin: 20px;
    
  }
  
.location {
    display: inline-block;
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    width: 180px;
    vertical-align: top;
  }
.location button {
    display: block;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
  }

.activities-container{
  	margin: 20px;
  }
  
.activities {
    border: 1px solid black;
    height: 100px;
    overflow: auto;
    margin-top: 20px;
    padding: 20px;
  }
  
.reset-btn {
 	margin: 20px;
 	width: 150px;
}

.reset-btn button {
 	width: 150px;
}
